/* Base Styles */
* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Collapsible Button */
.collapsible {
    background-color: #000000; /* Darker for contrast */
    color: #FFF; /* White text for readability */
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth background transition */
}

.collapsible:hover {
    background-color: #000000; /* Slightly lighter on hover */
}

.collapsible:after {
    content: '\002B'; /* Plus sign */
    float: right;
    font-weight: bold;
}

.collapsible.active:after {
    content: "\2212"; /* Minus sign for active state */
}

/* Collapsible Content */
.desc-text {
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: transparent; /* No background */
    max-height: 0;
    overflow: hidden;
    padding: 0 10px; /* Start with no padding */
    margin-top: 0.5rem; /* Space from button */
    width: auto; /* Auto width to fit content */
    font-size: 1rem; /* Standard font size */
    color: #ffffff; /* Light text color */
}

/* Container for People Boxes */
.people-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Evenly spaces items within the container */
    align-items: center; /* Align items vertically */
    padding: 20px;
}

/* Individual People Box */
.people-box {
    flex: 0 1 auto; /* Allows the box to grow and shrink as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; /* Adds some space around each box */
}

/* Image Styles */
.person {
    width: 200px; /* Fixed width for circular images */
    height: 200px; /* Fixed height to maintain aspect ratio */
    object-fit: cover;
    border-radius: 50%; /* Makes images circular */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Text Styles */
.people-desc, .people-heading, .people-role {
    text-align: center;
    margin: 5px 0;
}

.people-heading {
    font-weight: bold;
    font-size: 1.25rem;
}

.people-role {
    font-size: 1rem;
}

/* Footer Styles */
.footer {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .people-boxes {
        justify-content: space-evenly; /* Adjusts spacing for smaller screens */
    }
}
 
@media (max-width: 480px) {
    .people-boxes {
        flex-direction: column; /* Stacks images vertically on very small screens */
    }

    .people-box {
        margin: 10px auto; /* Centers the boxes vertically with margin */
    }
}

